.header__drawer .menu__title,
.header__drawer .close__title {
  text-transform: lowercase;
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0;
}
.header__menu .menu {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }

  &__link {
    font-size: 0.8125rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 5px;
    vertical-align: baseline;

    &:hover {
      border-bottom: 2px solid #000;
    }
  }
}

@media (max-width: 1200px) {
  .header__menu {
    display: none;
  }
}
